numpy==1.25.2
torch==2.0.0a0
ninja==1.11.1.1
pillow==10.1.0
scikit_image==0.22.0
torchvision==0.15.1a0
png
freetype
tqdm
thop
tabulate
psutil
tensorboard
filelock
typing-extensions
opencv-python==4.8.1.78
sympy
networkx
patchelf